body{
    margin: 0;
    background-color: var(--tea-green);
    text-align: center;
    --orange-yellow-crayola: hsla(42, 85%, 68%, 1);
    --mindaro: hsla(69, 100%, 76%, 1);
    --medium-champagne: hsla(52, 100%, 85%, 1);
    --tea-green: hsla(102, 90%, 88%, 1);
    --black-coffee: hsla(17, 15%, 18%, 1);
    
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: 9fr, 1fr;
    width: 90%;
    height: 100%;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--black-coffee) ;
    color: var(--orange-yellow-crayola); 
    font-size: 25px;
    width: 100%;
    padding-left: 2%;

}

#orderButton {
    margin-top: 30px;
    height: 50px;
    width: 200px;
    font-size: 1.25em;
    background: burlywood;
    color: white;
}

#orderButton:disabled {
    opacity: 0.5;
}

table {
    grid-column-start: 1;
    border-collapse: collapse;
    height: 100%;
    width: 844px;
    text-align: center;
}

table, tbody, tr {
    border: 2px solid black;
} 

tr:nth-child(even) {
    background-color: var(--mindaro);
}

thead {
    background: orangered;
    color: white;
    
}

table th, table td {
    text-align: right;
    padding: 10px;
}

.align-left {
    text-align: left;
}

tbody {
    background: white;

}


tbody td {
    font-size: 0.9rem;
}


tfoot {
    background: #999;
    color: white;
}

* {
    box-sizing: border-box;
    font-family: fantasy;
    text-decoration: none;
}

p {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: right;
}

nav {
    padding-right: 2%;
}
