/* add home page styles here */


* {
    box-sizing: border-box;
    font-family: fantasy;
    text-decoration: none;
}

body{
--orange-yellow-crayola: hsla(42, 85%, 68%, 1);
--mindaro: hsla(69, 100%, 76%, 1);
--medium-champagne: hsla(52, 100%, 85%, 1);
--tea-green: hsla(102, 90%, 88%, 1);
--black-coffee: hsla(17, 15%, 18%, 1);

    margin: 0;
    background-color: var(--tea-green);
    text-align: center;
    
    
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black-coffee);
    color: var(--orange-yellow-crayola); 
    font-size: 25px;
}

footer {
    background-color: var(--black-coffee);
    color: var(--orange-yellow-crayola);
}

img {
    height: 250px;
    width: 150px;
}
ol, ul {
	list-style: none;
}
